body {
background-image: url('codingbootcamp.jpeg');
background-size: cover;
}

.mainsurvey {
    color: white;
    background: #a3a375;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.thetitle {
    text-align: center;
    padding-top: 10px;
}

fieldset {
    border: none;
    font-size: 20px;
}

.personal {
    margin-top: 5%;
    text-align: center;
    
}

.course {
    text-align: center;
}

#firstname, #lastname, #age, #course {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.studies label {
    display: block;
    
}

legend {
    margin-left: auto;
    margin-right: auto;
}

.sexcontainer {
    margin-left: auto;
    margin-right: auto;
}



